* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --gray200: #dedddf;
  --gray400: #acb4be;
  --purple950: #21092f;
  --gradient: #6448fe to #600594; /*active input border*/
  --red400: #ff5252; /*input errors*/
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  color: var(--purple950);
  background: var(--white);
}

main {
  display: flex;
  flex-direction: column;
}

input {
  font-family: "Space Grotesk", sans-serif;
  color: var(--gray400);
  font-size: 1.125rem;
  border: 0.1rem solid var(--gray200);
  border-radius: 0.35rem;
  padding: 0.5rem;
  min-width: 0;
}

label {
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
}

/*Top Section Start*/

.card-image {
  background: url(../images/bg-main-mobile.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(clamp(13.375rem, 11rem + 20vw, 26.25rem) / 8.5);
  margin-bottom: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * 3.8 + 2rem);
}

.card-sides{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * -3.8);
 
}

.card-back {
  background: url(../images/bg-card-back.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: clamp(13.375rem, 11rem + 20vw, 26.25rem);
  aspect-ratio: 447/245;
  letter-spacing: 0.1rem;
  font-size: calc(clamp(0.7rem, 0.5rem + 2vw, 1.7rem) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * 2);
  margin-right: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * -4);
  margin-bottom: calc(clamp(13.375rem, 11rem + 20vw, 26.25rem) / -4.2);
}

.card-image-cvc {
  margin-bottom: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) / 8);
}

.card-front {
  background: url(../images/bg-card-front.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: clamp(13.375rem, 11rem + 20vw, 26.25rem);
  aspect-ratio: 447/245;
  letter-spacing: 0.1rem;
  margin-right: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * 4);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem));
  padding: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * 1.2);
  z-index: 1000;
}

.card-logo {
  margin-bottom: auto;
  width: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) * 4);
}

.card-image-number {
  font-size: calc(clamp(13.375rem, 11rem + 20vw, 26.25rem) / 15);
  text-align: justify;
  text-align-last: justify;
  white-space: nowrap;
  letter-spacing: calc(clamp(13.375rem, 11rem + 20vw, 26.25rem) / 150);
  width: 100%;
}

.text-container {
  display: flex;
  font-size: calc(clamp(0.7rem, 0.5rem + 1.5vw, 1.7rem) / 1.5);
  justify-content: space-between;
}

/*Top Section End*/

.card-details,
.card-name,
.card-number,
.exp-date,
.cvc {
  display: flex;
  flex-direction: column;
}

.card-name,
.card-number,
.exp-date,
.cvc {
  gap: 0.5rem;
}

.card-details {
  padding: 3rem 1rem;
  gap: calc(clamp(13.375rem, 11rem + 20vw, 26.25rem) / 7);


.exp-date-and-cvc {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-areas: 
  "exp-date exp-date cvc cvc"
  "month year cvcno cvcno"; 
  gap: 1rem;/*Make responsive*/
  justify-items: left;
  align-content: center;
  align-items: top;
  
}

.month,
.year,
.cvcno {
  width: 100%;
}


.confirm-btn {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  background: var(--purple950);
  color: var(--gray200);
  padding: 0.75rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
